@font-face {
    font-family: "YesevaOne-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("C:/Users/Avror_000/Desktop/проги/skillfactory/Слайдер/fonts/YesevaOne-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "NunitoSans_10pt-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("C:/Users/Avror_000/Desktop/проги/skillfactory/Слайдер/fonts/NunitoSans_10pt-Regular.woff2") format("woff2");
}